<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Testsignal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Testsignal.Properties.Settings>
            <setting name="DatenDatei" serializeAs="String">
                <value>Signal.Wav</value>
            </setting>
            <setting name="DatenPfad" serializeAs="String">
                <value>..</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="Kanäle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Dauer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Typ" serializeAs="String">
                <value>Sinus</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>440</value>
            </setting>
        </Testsignal.Properties.Settings>
    </userSettings>
</configuration>